# Pandas Session 02: File Handling and Basic Operations

## Engr Muhammad Saqlain

## Reading Data from CSV

In [ ]:
# Import necessary libraries
import pandas as pd

In [ ]:
# Create a DataFrame from a CSV file
csv_file_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Datasets\Session_02\1_TK_data.csv'
df_csv = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
df_csv.head(5)

## Reading Data from Excel

In [ ]:
# Create a DataFrame from an Excel file
excel_file_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Datasets\Session_02/2_Pak_imm.xlsx'
df_excel = pd.read_excel(excel_file_path, sheet_name='Country Wise')

# Display the first few rows of the DataFrame
df_excel.head(20)

## Reading Data from SQL Database

In [ ]:
!pip install pysqlite3

In [ ]:
# Import necessary libraries
import sqlite3

# Specify the path to your SQLite database
db_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Datasets\Session_02/3_database.db'

# Create a connection to the database
conn = sqlite3.connect(db_path)

# Specify the SQL query
sql_query = 'SELECT * FROM purchases;'
#sql_query = 'SELECT * FROM my_data_table;'

# Create a DataFrame from the SQL query
df_sql = pd.read_sql(sql_query, conn)

# Display the first few rows of the DataFrame
df_sql.head()

### Reading data from JSON files

In [ ]:
df = pd.read_json(r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Datasets\Session_02\4_new_purchases.json')

df

## Reading Data from a URL

In [ ]:
url = r"https://www.w3schools.com/python/pandas/data.csv"

df_url = pd.read_csv(url)

df_url.head()

# Writing Data to Different Formats

In [ ]:
# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Display the DataFrame
df


## Writing Data to CSV

In [ ]:
# Write DataFrame to a CSV file
csv_file_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Outputs\output_csv_s02.csv'
df.to_csv(csv_file_path, index=True)

## Writing Data to Excel

In [ ]:
# Write DataFrame to an Excel file
excel_file_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Outputs\output_xlsx_s02.xlsx'
df.to_excel(excel_file_path, index=False, sheet_name='Sheet1')

## Writing Data to SQL Database

In [ ]:
# Create a connection to a SQL database (SQLite in this example)
conn = sqlite3.connect(r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Datasets\Session_02/3_database.db')

# Write DataFrame to a SQL table
sql_table_name = 'my_data_table'
df.to_sql(sql_table_name, conn, index=False, if_exists='replace');

## Writing Data to JSON

In [ ]:
# Write DataFrame to a JSON file
json_file_path = r'C:\Users\Abbasi-Laptop\Dropbox\CAI\4_Pandas\Outputs\output_json_s02.json'
df.to_json(json_file_path, orient='records')

# Basic Data Operations

In [ ]:
df_tk=df_csv

In [ ]:
# See first 5 values
df_tk.head()

In [ ]:
# See last 5 values
df_tk.tail()

## Total rows and columns

In [ ]:
df_tk.shape

In [ ]:
len(df_tk)

In [ ]:
df_tk.shape[1]

In [ ]:
df_tk.columns

## Column datatypes

In [ ]:
# Display data types of each column
df_tk.dtypes

In [ ]:
# Identify numeric columns
numeric_columns = df_tk.select_dtypes(include=['number']).columns.tolist()
numeric_columns

In [ ]:
# Identify string or categorical columns
string_categorical_columns = df_tk.select_dtypes(exclude=['number']).columns.tolist()
string_categorical_columns

## Data Inspection and Summary

In [ ]:
# Total cells
df_tk.size

In [ ]:
df_tk.info()

In [ ]:
# Missing Data
#df_tk.isnull()
df_tk.isnull().sum()

In [ ]:
# Non-null values
df_tk.notnull().sum()

In [ ]:
df_tk.index

In [ ]:
df_tk.nunique()

## Descriptive Statistics

In [ ]:
df_tk.describe()

In [ ]:
df_tk.describe(include='all')

In [ ]:
#df_tk.mean()
#df_tk.mode()
df_tk[['Assessed Value', 'Retention Cost']].median()

In [ ]:
df_tk[['Assessed Value', 'Retention Cost']].min()

In [ ]:
df_tk[['Assessed Value', 'Retention Cost']].max()

In [ ]:
df_tk[['Assessed Value', 'Retention Cost']].sum()

In [ ]:
df_tk[['Assessed Value', 'Retention Cost']].std()

In [ ]:
df_tk.count()

In [ ]:
df_tk.corr()

In [ ]:
df_tk["Affiliation"].unique().tolist()

In [ ]:
df_tk["Affiliation"].value_counts()

## Who took the most expensive gift?

In [ ]:
# Find the index of the row with the maximum assessed value
max_value_index = df_tk['Assessed Value'].idxmax()

# Retrieve the details of the person who took the most expensive gift
most_expensive_gift_details = df_tk.loc[max_value_index]

# Display the result
print(most_expensive_gift_details)

## Year-Wise Details

In [ ]:
# Convert 'Date' column to datetime format
df_tk['Date'] = pd.to_datetime(df_tk['Date'], format='%m/%d/%Y')

# Extract the year from the 'Date' column
df_tk['Year'] = df_tk['Date'].dt.year

# Group by 'Year' and calculate the total gifts taken
yearly_gifts_total = df_tk.groupby('Year')['Detail of Gifts'].count()

# Display the result
print(yearly_gifts_total)

In [ ]:
import matplotlib.pyplot as plt

# Plot the bar chart for yearly gifts total
yearly_gifts_total.plot(kind='bar', color='skyblue')

# Set plot labels and title
plt.xlabel('Year')
plt.ylabel('Total Gifts Taken')
plt.title('Yearly Total Gifts Taken')

# Show the plot
plt.show()

In [ ]:
# Group by 'Year' and calculate the total amount taken each year
yearly_gifts_sum = df_tk.groupby('Year')['Assessed Value'].sum()

# Display the result
print(yearly_gifts_sum)

In [ ]:
# Plot the bar chart for yearly gifts total
yearly_gifts_sum.plot(kind='bar', color='blue')

# Set plot labels and title
plt.xlabel('Year')
plt.ylabel('Amount of Gifts Taken')
plt.title('Yearly Total Amounts of Gifts Taken')

# Show the plot
plt.show()

## Affiliation-wise Details

In [ ]:
# Group by 'Affiliation' and calculate the total gifts taken for each affiliation
affiliation_gifts_total = df_tk.groupby('Affiliation')['Detail of Gifts'].count()

# Display the result
print(affiliation_gifts_total)

In [ ]:
#Let's correct affiliations
df_tk["Affiliation"]=df_tk["Affiliation"].replace({'Gen Mus': "Gen. Musharraf", "Gen. Musharrafarraf": "Gen. Musharraf"})

In [ ]:
# Group by 'Affiliation' and calculate the total gifts taken for each affiliation
affiliation_gifts_total = df_tk.groupby('Affiliation')['Detail of Gifts'].count()

# Display the result
print(affiliation_gifts_total)

In [ ]:
# Plot the bar chart for total gifts taken by affiliation
affiliation_gifts_total.plot(kind='bar', color='green')

# Set plot labels and title
plt.xlabel('Affiliation')
plt.ylabel('Total Gifts Taken')
plt.title('Total Gifts Taken by Affiliation')

# Show the plot
plt.show()

In [ ]:
# Group by 'Affiliation' and calculate the sum of gifts taken for each affiliation
affiliation_gifts_sum = df_tk.groupby('Affiliation')['Assessed Value'].sum()

# Display the result
print(affiliation_gifts_sum)

In [ ]:
# Plot the bar chart for total gifts taken by affiliation
affiliation_gifts_sum.plot(kind='bar', color='red')

# Set plot labels and title
plt.xlabel('Affiliation')
plt.ylabel('Total Amount of Gifts Taken')
plt.title('Total Amount of Gifts Taken by Affiliation')

# Show the plot
plt.show()

## Assessed Value and Retention Cost Comparison

In [ ]:
df_tk.head()

In [ ]:
# Group by 'Affiliation' and calculate the sum of assessed value and retention cost for each affiliation
affiliation_sums = df_tk.groupby('Affiliation')[['Assessed Value', 'Retention Cost']].sum()

# Display the result
print(affiliation_sums)

In [ ]:
# Plot the bar chart for sum of assessed value and sum of retention cost by affiliation
affiliation_sums.plot(kind='bar', stacked=False)

# Set plot labels and title
plt.xlabel('Affiliation')
plt.ylabel('Sum')
plt.title('Comparison of Sum of Assessed Value and Retention Cost by Affiliation')

# Show the plot
plt.show()

In [ ]:
df_tk.nunique()

## Item-wise details

In [ ]:
# Group by 'Item Category' and 'Affiliation' and calculate the sum of assessed value and retention cost for each combination
category_affiliation_sums = df_tk.groupby('Item Category')[['Assessed Value', 'Retention Cost']].sum()

# Display the result
print(category_affiliation_sums)

In [ ]:
# Plot the bar chart for sum of assessed value and sum of retention cost by category
category_affiliation_sums.plot(kind='bar', stacked=False)

# Set plot labels and title
plt.xlabel('Category')
plt.ylabel('Sum')
plt.title('Comparison of Sum of Assessed Value and Retention Cost by Category')

# Show the plot
plt.show()

## Gifts taken for free

In [ ]:
# Filter the DataFrame based on the conditions
filtered_gifts = df_tk[(df_tk['Assessed Value'] != 0) & (df_tk['Retention Cost'] == 0) & (df_tk['Retained'] == 'Yes')]

# Display the result
print(filtered_gifts)

## Who took free gifts and how much?

In [ ]:
# Group by 'Affiliation' and calculate the total assessed value for each affiliation
total_assessed_values_by_affiliation = filtered_gifts.groupby('Affiliation')['Assessed Value'].sum()

# Display the result
print(total_assessed_values_by_affiliation)

In [ ]:
# Plot the bar chart
total_assessed_values_by_affiliation.plot(kind='bar', color='orange')

# Set plot labels and title
plt.xlabel('Affiliation')
plt.ylabel('Total Assessed Value')
plt.title('Total Assessed Value of Filtered Gifts by Affiliation')

# Show the plot
plt.show()